@import "../style/main.scss";

/* styles for Cart and CartItem components */
.cart {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

  @include tablet() {
    grid-template-columns: repeat(auto-fit, minmax(55%, 1fr));
  }

  @include mobile() {
    grid-template-columns: repeat(auto-fill, minmax(60%, 1fr));
    padding: 1rem 0;
  }

  .purchase-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    max-width: 30rem;
    min-width: 22rem;
    height: fit-content;
    margin: 0.5rem auto;
    padding: 1.5rem;

    border: 1px solid hsl(0, 0%, 60%);
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 300;

    :last-child {
      font-size: 1.1rem;
      font-weight: 400;
    }

    .checkout-btn {
      width: fit-content;
      padding: 0.6rem 0.8rem;
      font-size: 1rem;
      background-color: hsl(37, 100%, 50%);
      color: #fff;
      border: none;
      border-radius: 5px;
      align-self: center;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        background-color: hsl(37, 100%, 40%);
      }
    }
  }

  p {
    width: 50%;
    margin: 18% auto;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    opacity: 0.6;

    @include tablet() {
      font-size: 1.6rem;
    }

    @include mobile() {
      font-size: 1.2rem;
    }
  }

  div.line {
    border-top: 1px solid grey;
    width: 100%;
  }


  .cartItem-wrapper {
    .cartItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 40rem;
      margin: 0.5rem auto;
      padding: 1rem;
      border: 1px solid hsl(0, 0%, 60%);
      border-radius: 5px;
      font-size: 0.93rem;
      font-weight: 300;

      @include tablet() {
        max-width: 90%;
        flex-direction: column;
        gap: 0.8rem;
      }

      .quantity {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        min-width: 30%;

        @include tablet() {
          align-items: center;
        }

        .btn-group {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          span {
            text-align: center;
            padding-top: 5px;
            width: 1.8rem;
            height: 1.8rem;
            border: 0.5px solid grey;
            border-radius: 2px;
          }

          button {
            width: 1.8rem;
            height: 1.8rem;
            border: none;
            border-radius: 5px;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
              background-color: hsl(0, 0%, 70%);

              &.delete-btn {
                background-color: hsl(358, 90%, 60%);
                color: #fff;
              }
            }
          }
        }
      }

      .itemInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        img {
          width: 16rem
        }
      }
    }
  }
}