.toast-wrapper {
  width: 20rem;
  height: 4.5rem;
  margin: 0 auto;
  padding: 0 0.5rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 10%;
  right: 0;
  z-index: 1;

  background-color: #fff;
  border-width: 0.5px 0.5px 0.5px 8px;
  border-style: solid;

  span {
    width: 10%;
  }

  &.addToCart {
    color: hsl(154, 80%, 40%);
    border-color: hsl(154, 80%, 40%);
  }

  &.like {
    color: hsl(35, 90%, 60%);
    border-color: hsl(35, 90%, 60%);
  }

  &.delete {
    color: #ef233c;
    border-color: #ef233c;
  }
}